@use './input.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "AvertaStd-Regular";
    src: url("https://db.onlinewebfonts.com/t/19b8f54eb1f074fb01efb1c4f02e9623.eot");
    src: url("https://db.onlinewebfonts.com/t/19b8f54eb1f074fb01efb1c4f02e9623.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/19b8f54eb1f074fb01efb1c4f02e9623.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/19b8f54eb1f074fb01efb1c4f02e9623.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/19b8f54eb1f074fb01efb1c4f02e9623.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/19b8f54eb1f074fb01efb1c4f02e9623.svg#AvertaStd-Regular")format("svg");
}
$primary-color: #4f46e5;

body {
  font-family: "AvertaStd-Regular";
  background: #f9fafb;
  color: #222;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
